<a href="https://colab.research.google.com/github/Anushreya-Satish/Python/blob/main/Python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
list1 = [87,76,29,20,87,20,76,29,87,20,29,76,51,34,68,34,68,51,50,29,87,34]

num1 = int(input("Enter number:"))
print("Number entered: ",num1)

counter = 0

for i in list1:
    if (num1  == i):
        counter  = counter + 1

print("Number of times it comes in the list: ",counter)

Enter number:87
Number entered:  87
Number of times it comes in the list:  4

In [25]:
for i in range(6,61,6):
    print(i)

6
12
18
24
30
36
42
48
54
60

In [41]:
list1 = ["Satish","Anuradha","Anushreya","Anushree"]

for i in list1:
  for k in i:
    print(k)

print(list1[2:4])
print(list1[0:2])
print(list1[-3:-1])

S
a
t
i
s
h
A
n
u
r
a
d
h
a
A
n
u
s
h
r
e
y
a
A
n
u
s
h
r
e
e
['Anushreya', 'Anushree']
['Satish', 'Anuradha']
['Anuradha', 'Anushreya']